html {
  scroll-behavior: smooth;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 195, 255, 0.2);
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 43%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 80%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 59%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 9s;
}
.background li:nth-child(3) {
    left: 30%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 14s;
}
.background li:nth-child(4) {
    left: 54%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 14s;
}
.background li:nth-child(5) {
    left: 29%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 12s;
}
.background li:nth-child(6) {
    left: 16%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 26s;
}
.background li:nth-child(7) {
    left: 41%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 22s;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 9999;
}

@media (min-width: 768px) {
  .vh-md-100 {
    height: 100vh;
  }
}

/* animation scerebn */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 9999;
  animation: fadeOut 1.5s ease-in-out forwards;
  -webkit-animation: fadeOut 1.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

